<h1>Messages</h1>
<div class="container">
  <h3>Name of the skill: {{skill.name}}</h3>
  <h3>Name of de expert: {{skill.owner.username}}</h3>
  <h3>Name of solicitor: {{currentUser.username}}</h3>


    <form action="/messages/{{skill.id}}" method="post">
            <input name="content" type="text" />
            <button type="submit">send</button>
    </form>
    
</div>